@import 
    'abstracts/variables';

@import 
    'base/typography';

@import
    'layout/navigation';

@import
    'components/buttons';

@import
    'pages/home',
    'pages/menu',
    'pages/contact';
body{
    background:  $bg-image;
    margin:0px;
}

.Content{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}




