$bg-image: url('/src/SASS/Images/RestaurantBackground.jpg');
$mainColor:#D1B780;
$buttonColor: #E3E5E0;
$homeColor:#464239;
$height: 50px;
$liPaddingTop: 2rem;
$HomePaddingLeft: 3rem;
$MenuPaddingLeft: 6rem;
$ContactPaddingLeft: 55rem;